*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    background-color: #e3e0e0;
    border: none;
    height: 0.5px
}
/* <!-- start: chi tiet san pham --> */
    .container{
        padding: 0 75px;
    }

    #chi_tiet_sp .danh_muc {
        background-color: #f5f5f5;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    #chi_tiet_sp .mo_ta_chi_tiet{
        display: flex;
        position: relative;
        margin-top: 20px;
    }

    .mo_ta_chi_tiet .hinh_anh .fa-chevron-right,
    .mo_ta_chi_tiet .hinh_anh .fa-chevron-left{
        position: absolute;
        z-index: 5px;
    }

    .mo_ta_chi_tiet .hinh_anh .slider-ha{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 500px;
    }

    .hinh_anh .slider-ha img{
        width: 500px;
        height:500px;
    }

    .mo_ta_chi_tiet .hinh_anh i{
        font-size: 20px;
        padding: 10px 14px;
        border-radius: 21px;
        background-color: #ccc;
    }

    .mo_ta_chi_tiet .hinh_anh .slide_sau i{
        top: 80%;
        left: 375px;
    }

    .mo_ta_chi_tiet .hinh_anh .slide_truoc i{
        top: 80%;
        left: 250px;
    }

    .mo_ta_chi_tiet .thong_tin_sp h2{
        font-size: 22px;
    }

    .thong_tin_sp .ma_sp p{
        font-size: 13px;
        color: #c4c4c4;
        padding: 10px 0
    }

    .thong_tin_sp .gia_sp p{
        font-size: 18px;
        color: red;
        padding: 10px 0;
    }

    .thong_tin_sp .phan_mau {
        padding: 10px 0;
    }

    .thong_tin_sp .phan_mau .cac_mau{
        display: flex;
    }

    .phan_mau .cac_mau li{
        margin-right: 10px;
        margin-top: 10px;
    }

    .thong_tin_sp .phan_mau .mau_1{
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #ccc;
    }

    .thong_tin_sp .phan_mau .mau_2{
        width: 30px;
        height: 30px;
        background-color: #c3742e;
        border-radius: 20px;
        border: 1px solid #ccc;
    }

    .thong_tin_sp .phan_mau .mau_3{
        width: 30px;
        height: 30px;
        background-color: #d8c98f;
        border-radius: 20px;
        border: 1px solid #ccc;
    }

    .thong_tin_sp .them_gio_hang{
        margin-top: 15px;
        margin-bottom: 15px;

    }

    .thong_tin_sp .them_gio_hang .thembot{
        width: 31px;
        font-size: 20px;
        border: none;
        border-radius: 2px;
    }

    .thong_tin_sp .them_gio_hang .number{
        width: 35px;
        height: 24px;
        text-align: center;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .them_gio_hang .btn_them_gh button{
        border: none;
        margin: 10px 0;
        color: #fff;
        background-color:  rgb(238 45 122);
        padding: 15px;
        width: 50%;
    }

    .thong_tin_sp .tt_chi_tiet h3{
        font-size: 20px;
        padding: 10px 0;
    }

    .thong_tin_sp .tt_chi_tiet p{
        line-height: 1.8;
        text-align: justify;
        font-size: 12px;
        color: #938989;
    }

    .san_pham_lien_quan {
        padding-top: 40px;
    }

    .san_pham_lien_quan .sp_lien_quan h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .san_pham_lien_quan .sp_lien_quan .cac_sp{
        display: flex;
        justify-content: space-around;
    }

    .sp_lien_quan .cac_sp .sp{
        box-shadow: 0px 0px 10px 1px rgb(210, 171, 187);
        border-radius: 3px;
    }

    .sp_lien_quan .cac_sp img{
        width: 250px;
        height: 250px;
    }

    .sp_lien_quan .cac_sp img:hover{
        opacity: 0.5;
        cursor: pointer;
    }

    .sp_lien_quan .cac_sp .thong_tin{
        padding: 5px;
    }

    .sp_lien_quan .cac_sp h4{
        font-size: 13px;
    }

    .sp_lien_quan .cac_sp p{
        padding-top: 10px;
        font-size: 15px;
    }
/* <!-- end: chi tiet san pham --> */

/* start: responsive */
/* ipad */
    @media (min-width: 740px) and (max-width: 1023px){
        .san_pham_lien_quan .sp_lien_quan .cac_sp {
            display: flex;
            flex-wrap: wrap;
        }
 
        #chi_tiet_sp .mo_ta_chi_tiet {
            display: block;
        }

        .mo_ta_chi_tiet .hinh_anh .slider-ha {
            margin-left: 60px;   
        }

        .slide_sau,
        .slide_truoc{
            display: none;
        }

        .thong_tin_sp {
            margin-top: 20px;
        }

        .sp_lien_quan .cac_sp .sp {
            margin-bottom: 20px;
        }

        .sp_lien_quan .cac_sp .sp:last-child{
            display: none;
        }
    }
    
    /* mobile */
    @media (max-width: 740px){
        .container{
            padding: 0 10px;
        }

        .san_pham_lien_quan .sp_lien_quan .cac_sp {
            display: flex;
            flex-wrap: wrap;
        }
 
        #chi_tiet_sp .mo_ta_chi_tiet {
            display: block;
        }

        .mo_ta_chi_tiet .hinh_anh .slider-ha {
            width: 390px; 
        }

        .hinh_anh .slider-ha img {
            width: 390px;
        }

        .slide_sau,
        .slide_truoc{
            display: none;
        }

        .thong_tin_sp {
            margin-top: 20px;
        }

        .sp_lien_quan .cac_sp .sp {
            margin-bottom: 20px;
        }
        
        .san_pham_lien_quan .sp_lien_quan h2 {
            margin-top: 30px;
        }

        .sp_lien_quan .cac_sp img {
            width: 350px;
            height: 350px;
        }

    }
    /* end: responsive */